.modal {
  height: 85% !important;
}

.picker__date-display {
  height: 160px;
}

.range-field {
  margin: 10px 0;
}

.modal-heading {
  font-size: 25px;
}

.completed-header {
  margin-top: 25px;
  font-size: 15px;
}

.incompleted-header {
  margin-top: 25px;
  font-size: 15px;
}

.delete-all {
  color: red;
}
